@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

img {
    cursor: pointer;
}

img:hover {
	--x: 50%;
	--y: 50%;
    transform: scale(1.1);	
    border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* border: solid; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    /* font-weight: 500; */
}

h1 {
    color: rebeccapurple;
    text-align: center;
}

.game-mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-mode button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.btn-active {
    background-color: #66f3ee;
}
.rps-container {
    display: flex;
    column-gap: 5px;
    align-self: center;
}

.rps-container img {
    width: 150px;
    height: 200px;
}

.round-container {
    text-align: center;
    background-color: #66f3ee;
}

.win-container {
    display: flex;
    justify-content: space-around;
    align-items:stretch; 
    column-gap: 100px; 
    padding: 0.5rem;
    text-align: center;
}

.winner {
    color: green;
}

.loser {
    color: red;
}

.game-refresh {
    border: none;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
}

.player1, .player2 {
    padding: 2px;
}
.playing {
    background-color: #FFDEE9;
    font-weight: bolder ;
}
.log-header {
    background-color: #66f3ee;
}